* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

.logo{
    width: 228px;
    height: 135px;
/*    background-image: url('logo.png');*/
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-mask-box-image: url('logo.png');
}

