* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

#container{
    height: 100vh;
    width: 100vw;
    background-color: #000;
    position: relative;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 228px;
    height: 135px;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-mask-box-image: url('logo.png');
}

